body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(106, 245, 106);
}

.container {
    color: white;
    font-size: 40px;
    width: 455px;
    text-align: center;
}

.container h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    animation: animatie 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes animatie {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(10deg);
    }
}